<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>home</title>
    <link href="bootstrap-3.3.5-dist/css/bootstrap.min.css" rel="stylesheet">
    <!--[if lt IE 9]>
      <script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
  	<script type="text/javascript">
  		function a(link){
  			window.location.href = link;
  		}
  	</script>
  	<div class="content" style="height: 582.32px; border: solid 1px #2894FF; background: url(img/bg.png); background-repeat: round;">
  		<div class="titlebar" style="height: 91px; border: solid 1px #1B6D85;">
  			<div class="tbright" style="width: 25%; float:right; border: solid 1px #398439; height: 100%;"> 
  				<div style="width: 100%; height: 35%; border: solid 1px #761C19;"></div>
  				<button type="button" class="btn btn-link" style="color: white;text-decoration: none; margin-right: 5px;">链接1</button>
  				<button type="button" class="btn btn-link" style="color: white;text-decoration: none; margin-left: 5px; margin-right: 5px;">链接2</button>
  				<button type="button" class="btn btn-link" aria-label="Left Align" style="color: white;text-decoration: none; margin-left: 5px; margin-right: 5px;">
				  <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
				</button>
  			</div>
  		</div>
  		<div class="buttom" style="height: 491.32px; border: solid 1px #204D74;">
  			<div class="buttomleft" style="float: left; width: 24%; height: 100%; border: solid 1px #269ABC;"></div>
  			<div class="buttommid" style="float: left; width: 52%; height: 100%; border: solid 1px #269ABC;">
  				<div style="height: 18%; border: solid 1px #2B542C; ">
  					
  				</div>
  				<div style="height: 82%; border: solid 1px #398439; text-align: center;">
  					<h1 style="font-size: 3.5em; color: white;">大学生互联INTERCONNECT</h1>
  					<h3 style="margin-bottom: 30px; font-weight: 100; color:white;">欢迎使用大学生互联网站，在这里你可以与许多同龄人共处一个舞台。尽情的表现自己！发挥自己的才能。</h3>
  					<div>
  						<button type="button" class="btn btn-info btn-lg" style="margin-right: 15px;" onclick="a('sign.html')">&nbsp;&nbsp;&nbsp;&nbsp;登&nbsp;&nbsp;录&nbsp;&nbsp;&nbsp;&nbsp;</button>
  						<button type="button" class="btn btn-danger btn-lg" style="margin-left: 15px;" onclick="a('regist.html')">&nbsp;&nbsp;&nbsp;&nbsp;注&nbsp;&nbsp;册&nbsp;&nbsp;&nbsp;&nbsp;</button>				
  					</div>
  					</div>
  			</div>
  			<div class="buttomright" style="float: left; width: 24%; height: 100%; border: solid 1px #2AABD2;"></div>
  		</div>
  	</div>
  	
  	
  	
    <script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
    <script src="bootstrap-3.3.5-dist/js/bootstrap.min.js"></script>
  </body>
</html>