<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>sign</title>
    <link href="bootstrap-3.3.5-dist/css/bootstrap.min.css" rel="stylesheet">
    <!--[if lt IE 9]>
      <script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  	<body>
  		<div class="content" style="height: 500px; background-color: whitesmoke;">
  			<div style="float:left; width: 27%; height: 100%;"></div>
  			<div style="float:left; width: 46%; height: 100%; ">
  				<div style="width: 100%; height: 40%; text-align: center;">
  					<div style="width: 100%; height: 50%; "></div>
  					<p style="font-size: 23px; font-weight: 100; margin-bottom: 0px;">登录以继续使用</p>
  					<p style="font-size: 25px; font-weight: 900;">InterConnect</p>
  					<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
  					<hr />
  				</div>
  				<div style="width: 100%; height: 60%; ">
  					<div style="height: 10%;"></div>
  					<form>
  						
					  <div class="form-group">
					    <label for="exampleInputEmail1">邮箱或手机号码</label>
					    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email or Tel">
					  </div>
					  <div class="form-group">
					    <label for="exampleInputPassword1">密码</label>
					    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
					  </div>
					  <div class="checkbox">
					    <label>
					      <input type="checkbox"> 记住我
					    </label>
					  </div>
					  <button type="submit" class="btn btn-default">&nbsp;&nbsp;&nbsp;确&nbsp;认&nbsp;&nbsp;&nbsp;</button>
					</form>
  				</div>
  			</div>
  			<div style="float:left; width: 27%; height: 100%;"></div>
  		</div>
  		<div class="buttom" style="height: 200px;"></div>
  		<div></div>
    <script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
    <script src="bootstrap-3.3.5-dist/js/bootstrap.min.js"></script>
  </body>
</html>
